.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-block {
  position: relative;
  display: block;
  color: $coral;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;

  &::after {
    content: "~~~~~~~~ :: ~~~~~~~~";
    position: absolute;
    top: 160px;
    left: 6px;
    font-size: 18px;
    color: $text-color;
    z-index: 3;
  }


  &--services {
    &::after {
      content: "~~~~~ :: ~~~~~";
      top: 130px;
      left: 0;
    }
  }

  &--contact {
    &::after {
      left: 43px;
    }
  }
}

.title-block__item {
  font-size: 16px;
  line-height: 1.438;
}

.button {
  border-radius: 0;
  border: none;
  background-color: $dark-yellow;
  text-transform: uppercase;
  font-weight: bold;
  width: 196px;
  height: 48px;
  cursor: pointer;
}
